:root {
  --main-color:#2397D4;
  --prim-color:#2A9E99;
  --black-color: #000000;
  --light-color: #ffffff;
  --gray-color: #A19F9E;
  --main2-color: #1572A1;
  --yellow-color: #ECC500;
  --second-color: #0E7E78;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

.dark-mode {
  --main-color:#2397D4;
  --prim-color:#2A9E99;
  --black-color: #ffffff;
  --light-color: #000000;
  --gray-color: #A19F9E;
  --main2-color: #1572A1;
  --yellow-color: #ECC500;
  --second-color: #0E7E78;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal-Medium", sans-serif;
  background-color: var(--light-color);
  color: var(--black-color);
  overflow-x: hidden;
}

nav {
  padding: 1.5rem !important;
  /* background: var(--light-color); */
  /*slider switch css */
}
nav .nav-link {
  color: var(--black-color) !important;
}
nav .logo {
  width: 7rem;
  display: none;
}
nav .translate_btn {
  border-radius: 80px;
}
nav .nav-item > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 4px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
nav .nav-item > a:hover::after, nav .nav-item > a.active-nav::after {
  width: 100%;
  background-image: linear-gradient(to right, #2092cf, #6ce7e1);
}
nav .theme-switch-wrapper {
  display: flex;
  align-items: center;
}
nav .theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
nav .theme-switch-wrapper .translate img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}
nav .theme-switch-wrapper .theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 50px;
}
nav .theme-switch-wrapper .theme-switch input {
  display: none;
}
nav .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
nav .slider:before {
  background-color: #fff;
  bottom: 1.3px;
  content: "";
  height: 90%;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 50%;
}
nav input:checked + .slider {
  background-color: #43424a;
}
nav input:checked + .slider:before {
  transform: translateX(20px);
}
nav .slider.round {
  border-radius: 34px;
}
nav .slider.round:before {
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--gray-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 12;
  padding: 5px;
  list-style: none;
  border-radius: 6px;
  transition: width 2s, height 2s, transform 2s;
  text-align: center;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
}

.dropdown-content li:hover {
  background-color: #fff;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3rem !important;
  height: 3rem !important;
}

.ved_wrapper {
  background-image: linear-gradient(#8ff5f0, #2092cf);
}

.ved_img {
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ved_icon {
  position: absolute;
  left: 45%;
  top: 33%;
}

.ved_icon i {
  font-size: 80px;
}

.ved_img_holder {
  position: relative;
}