
:root {
     --main-color:#2397D4;
     --prim-color:#2A9E99;
     --black-color: #000000;
     --light-color: #ffffff;
     --gray-color: #A19F9E;
     --main2-color: #1572A1;
     --yellow-color: #ECC500;
     --second-color: #0E7E78;
     --font-color: #424242;
     --bg-color: #fff;
     --heading-color: #292922;
 }
 .dark-mode {
     --main-color:#2c2d2e;
     --prim-color:#2A9E99;
     --black-color: #ffffff;
     --light-color: #0D1117;
     --gray-color: #A19F9E;
     --main2-color: #1572A1;
     --yellow-color: #ECC500;
     --second-color: #0E7E78;
     --font-color: #424242;
     --bg-color: #fff;
     --heading-color: #292922;
 }